
<opexViewDetailsModal #opexViewDetailsModal></opexViewDetailsModal>

<div class="card">
    <div class="card-header">
<h5>{{"Payment Details" | localize}}</h5>
    </div>
    <div class="card-body">
<div class="form-group row">
    <div class="col">
 <div class="card">
            <div class="card-header">
                <h5>{{"Prepayment" | localize}}</h5>
                ok.
            </div>
            <div class="card-body"></div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h5>{{"Accrual" | localize}}</h5>
            </div>
            <div class="card-body"></div>
        </div>
    </div>
</div>


       
   
     

        <div class="card">
            <div class="card-header">
                <h5>{{"Posting Details" | localize}}</h5>
            </div>
            <div class="card-body"></div>
        </div>
   
    </div>
</div>
