<div class="card card-vic" style="margin: 0%;">
    <div class="card-body" style="margin-top: 0%;padding-top: 0%;" >
        <!-- <div class="card-header card-header-vic" style="color: mediumslateblue; margin-top: 0%;padding-top: 0%;">
            {{title}}
        </div> -->
        <div class="row card-item-vic" style="padding: 20px; width: 100%;">
            <div *ngFor="let item of itemList" style="width: 20%; display: inline-block">
                <div class="font-weight-bold card-title-vic" style="margin-right: 10px; margin-bottom: 5px;text-align: center;">{{ item.title}}</div>
                <div style="box-shadow: 0 0 5px #ccc; border-radius: 2px; padding: 10px; margin-right: 10px; margin-bottom: 10px;">
                    <div class="card-value-vic" style="font-family: Arial, Helvetica, sans-serif; color: #000; font-weight: 100; border-radius: 5px; padding: 2px; padding-left: 10px;padding-right: 10px; font-size: 12px; justify-content: center;">  {{ item.itemvalue}}</div>
                </div>
            </div>
        </div>
    </div>
</div>