
<div bsModal bsModal #modal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" 
aria-hidden="true" [config]="{backdrop: 'static'}">
<div class="modal-dialog modal-lg">

   <div class="modal-content">

      

           <div class="modal-header">
                <h5 class="modal-title"   >
                    Approval Trail
                 
               </h5> 
               <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                   <i aria-hidden="true" class="ki ki-close icon-2x"></i>
               </button>
           </div>

           <div class="modal-body">
            <div class="row align-items-center">
                <!--<Primeng-TurboTable-Start>-->
              <div class="primeng-datatable-container"
                  [busyIf]="primengTableHelper.isLoading">
                  
                  <p-table #dataTable 
                  [value]="primengTableHelper.records"
                        
   rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,15,20]" [lazy]="false" [rowHover]="true" sortMode="multiple" [scrollable]="true"
   ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns">

                    
                      <ng-template pTemplate="header">
                         <tr>
                             <!-- <th style="width:75px"></th> -->
                            
                             <th >
                                 {{'Level' | localize}}
                             </th>
                             <th >
                                {{'Level Position' | localize}}
                            </th>
                            <th >
                                {{'Role' | localize}}
                            </th>
                            <th >
                                {{'Response Person' | localize}}
                            </th>
                            <th >
                                {{'Status' | localize}}
                            </th>
                            <th >
                                {{'Amount' | localize}}
                            </th>
                            
                           
                           
                         </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-record="$implicit">
                         <tr>
                             <td >
                                 <span class="ui-column-title"> {{'Description' | localize}}</span>
                                 {{record.levelName}}
                             </td>
                             <td >
                                <span class="ui-column-title"> {{'Rate' | localize}}</span>
                                {{record.levelPosition}}
                            </td>
                            <td >
                                <span class="ui-column-title"> {{'Rate' | localize}}</span>
                                {{record.responseRoleName}}
                            </td>
                             <td >
                               <span class="ui-column-title"> {{'Rate' | localize}}</span>
                               {{record.responsePerson}}
                           </td>
                           <td >
                                <span class="ui-column-title"> {{'Rate' | localize}}</span>
                                {{record.actionStatus}}
                            </td>
                            <td >
                                <span class="ui-column-title"> {{'Rate' | localize}}</span>
                                {{record.amount}}
                            </td>
                          
                      </tr>
                      </ng-template>
                  </p-table>
                 
                  
              </div>
                <!--<Primeng-TurboTable-End>-->
                  
            </div>


              
              
       
           </div>


           <div class="modal-footer">
               <button  type="button" class="btn btn-default" (click)="close()">{{"Cancel" | localize}}</button>
             
               <!-- <button type="submit" class="btn btn-primary" [disabled]="!roleuserForm.form.valid"  [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{"Save" | localize}}</span></button> -->

           </div>
           <!-- {{splitcostForm.value | json}} -->

   </div>
</div>
</div>



