<div
    bsModal
    #docView="bs-modal"
    (onShown)="onShown()"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="docView"
    aria-hidden="true"
    [config]="{ backdrop: 'static', keyboard: false }"
>
    <div class="modal-dialog modal-xl">
        <!-- modal content start here -->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Attachment</span>
                </h4>

                <button
                    type="button"
                    class="close"
                    (click)="CloseModal()"
                    [attr.aria-label]="l('Close')"
                >
                    <i aria-hidden="true" class="ki ki-close icon-2x"></i>
                </button>
            </div>
            <!-- modal body -->
            <div class="modal-body" id="contentToConvert">
                <div class="card-body">
                    <div *ngIf="NotViewOnly">
                        {{ allowableFileType }}
                        <form
                            id="fileUploadForm"
                            enctype="multipart/form-data"
                            #fileUploadForm="ngForm"
                            (ngSubmit)="save()"
                        >
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <textarea
                                        class="form-control"
                                        id="Description"
                                        name="Description"
                                        placeholder="Description"
                                        [(ngModel)]="description"
                                        required
                                    ></textarea>
                                </div>
                                <div class="col-md-6">
                                    <div
                                        ng2FileDrop
                                        (fileOver)="fileOverBase($event)"
                                        [uploader]="uploader"
                                        class="well uploadfilecontainer"
                                    >
                                        <div class="col-md-12 text-center">
                                            <h3>
                                                {{
                                                    "Drag and Drop Zone"
                                                        | localize
                                                }}
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 align-middle">
                                    <h1>Or</h1>
                                </div>

                                <div class="col-md-5 align-middle">
                                    <input
                                        #fileUp
                                        class="form-control"
                                        type="file"
                                        id="Image"
                                        name="Image"
                                        required
                                        #file
                                        placeholder="Choose file"
                                        (change)="fileChangeEvent($event)"
                                        multiple
                                    />
                                </div>
                            </div>
                        </form>

                        <div
                            class="files-list"
                            *ngFor="let file of files; let i = index"
                        >
                            <p>{{ file }}</p>
                        </div>

                        <div *ngIf="uploader.isUploading">
                            <span>{{ itemName }}</span>
                            <div class="progress">
                                <div
                                    class="progress-bar progress-bar-info progress-bar-striped"
                                    role="progressbar"
                                    attr.aria-valuenow="{{ progressAction }}"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                    [ngStyle]="{ width: progressAction + '%' }"
                                >
                                    {{ progressAction }}%
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-scrollable table-scrollable-borderless">
                        <table class="table table-hover table-light">
                            <thead>
                                <tr class="uppercase">
                                    <th colspan="2">Remarks</th>
                                    <th  *ngIf="externalDocument ==false">File Name</th>
                                    <th  *ngIf="externalDocument ==false">File Size(kb)</th>
                                    <th>Date Attached</th>

                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tr
                                *ngFor="
                                    let m of attachedList;
                                    let index = index
                                "
                            >
                                <td colspan="2">
                                    {{ m.remarks }}
                                </td>
                                <td *ngIf="externalDocument ==false">
                                    {{ m.fileName }}
                                </td>
                                <td  *ngIf="externalDocument ==false">
                                    {{ m.fileSize }}
                                    <!-- {{ m.ref }} -->
                                </td>
                                <td>
                                    {{ getTransactionDate(m.transactionDate) }}
                                </td>
                                <td  *ngIf="externalDocument ==false">
                                    <a
                                        href="javascript:;"
                                        (click)="DocView(m)"
                                        data-toggle="tooltip"
                                        data-placement="right"
                                        title="View Document"
                                    >
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </td>
                                <td  *ngIf="externalDocument ==false">
                                    <a
                                        [href]="
                                            remoteServiceBaseUrl +
                                            '/fileupload/Download?Id=' +
                                            m.id
                                        "

                                        data-toggle="tooltip"
                                        data-placement="right"
                                        title="Download Document"
                                    >
                                        <i class="fa fa-download"></i>
                                    </a>
                                </td>
                                <td  *ngIf="externalDocument ==true">
                                    <a
                                        [href]="
                                           m.documentURL
                                        "

                                        data-toggle="tooltip"
                                        data-placement="right"
                                        title="Download Document"
                                        target="_blank"
                                    >
                                        <i class="fa fa-download"></i>
                                    </a>
                                </td>
                                <td>
                                    <div *ngIf="NotViewOnly">
                                        <a
                                            href="javascript:;"
                                            (click)="DeleteItem(m.id)"
                                            data-toggle="tooltip"
                                            data-placement="right"
                                            title="Delete Document"
                                        >
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Modal footer start here -->
            <div class="modal-footer">
                <button
                    type="button"
                    class="close"
                    (click)="CloseModal()"
                    aria-label="Close"
                >
                    <span><i class="fa window-close"></i></span>
                </button>
            </div>
        </div>
        <!-- modal content end here -->
    </div>
</div>

<appdocviewer #appdocviewer></appdocviewer>
