
<div bsModal bsModal #modal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" 
aria-hidden="true" [config]="{backdrop: 'static'}">
<div class="modal-dialog modal-lg">

   <div class="modal-content">

      

           <div class="modal-header">
               <!-- <h5 class="modal-title"   >
                  Map Staff with role: {{valueFromChild}}
                 
               </h5> -->
               <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                   <i aria-hidden="true" class="ki ki-close icon-2x"></i>
               </button>
           </div>

           <div class="modal-body">
               <!--Design input form for modal add chart of account-->
               <!-- <form #splitcostForm="ngForm"  (ngSubmit)="save()">
                <div class="row align-items-center mb-2">
                   -->
                 
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="GroupName">{{"Enter Comment" | localize}}</label>
                            <textarea type="text" name="amount" placeholder="Enter Your Comment Here" required 
                                class="form-control" [(ngModel)]="comment" ></textarea>
                        </div>
                    </div>
                   
                                         
                      

                       
                    
                   

                   
                    
                  
                <!-- </div>
            </form> -->



          


             
              
       
           </div>


           <div class="modal-footer">
               <button  type="button" class="btn btn-default" (click)="close()">{{"Cancel" | localize}}</button>
               <!-- <div class="col-md-12 mt-20 text-right">
                <div class="form-group"> -->
                    <button type="submit"  flex="15"  (click)="save()" class="btn btn-primary "  [buttonBusy]="saving"
                    >
                    {{ "Save" | localize }} 
                    </button>
                <!-- </div>
            </div> -->
               <!-- <button type="submit" class="btn btn-primary" [disabled]="!roleuserForm.form.valid"  [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{"Save" | localize}}</span></button> -->

           </div>
       

   </div>
</div>
</div>




