<div appBsModal   #modal="bs-modal" (onShown)="onShown()"  class="modal fade" tabindex="-1" role="dialog"
aria-hidden="true" [config]="{backdrop: 'static'}">
<div class="modal-dialog modal-xl">
   <div class="modal-content">
       <div>

            <div class="modal-header modal-header-vic">
                <h5 class="modal-title">{{title}}</h5>
                <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                <i aria-hidden="true" class="ki ki-close" style="color: #000;"></i>
            </button>
            </div>

            <div class="modal-body" style="margin: 0%; padding: 3%;">


                <div [innerHTML]="innerBody" style="border: 3px solid; padding: 20px;"></div>




            </div>
            <div class="modal-footer modal-header-vic">
                <button  type="button" class="btn btn-default" (click)="close()">{{"Cancel" | localize}}</button>

            </div>

       </div>
   </div>
</div>
</div>



