<div
    bsModal
    #modal="bs-modal"
    (onShown)="onShown()"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Map workflow role to workflow level: {{ valueFromChild }}
                </h5>
                <button
                    type="button"
                    class="close"
                    (click)="close()"
                    [attr.aria-label]="l('Close')"
                >
                    <i aria-hidden="true" class="ki ki-close icon-2x"></i>
                </button>
            </div>

            <div class="modal-body">
                <!--Design input form for modal add chart of account-->
                <form
                    #roleuserForm="ngForm"
                    novalidate
                    (ngSubmit)="save(roleuserForm)"
                >
                    <div class="row align-items-center mb-2">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="description">Select Role</label>
                                <select
                                    name="userName"
                                    required
                                    class="form-control"
                                    [(ngModel)]="levelrolecreate.workflowRoleId"
                                >
                                    <option
                                        *ngFor="let item of systemrole"
                                        [value]="item.id"
                                    >
                                        {{ item.roleName }}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-12 text-right" *ngIf="'Pages.Workflow.Level.MapLevel'| permission">
                            <div class="form-group">
                                <button
                                    type="submit"
                                    [disabled]="!roleuserForm.form.valid"
                                    flex="15"
                                    class="btn btn-primary mt-10"
                                >
                                    {{ "Map+" | localize }}
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

                <!--table goes here-->

                <div class="row align-items-center">
                    <!--<Primeng-TurboTable-Start>-->
                    <div
                        class="primeng-datatable-container"
                        [busyIf]="primengTableHelper.isLoading"
                    >
                        <p-table
                            #dataTable
                            [value]="primengTableHelper.records"
                            rows="{{
                                primengTableHelper.defaultRecordsCountPerPage
                            }}"
                            [paginator]="true"
                            [rows]="10"
                            [rowsPerPageOptions]="[5, 10, 15, 20]"
                            [lazy]="false"
                            [rowHover]="true"
                            sortMode="multiple"
                            [scrollable]="true"
                            ScrollWidth="100%"
                            [responsive]="primengTableHelper.isResponsive"
                            [resizableColumns]="
                                primengTableHelper.resizableColumns
                            "
                        >
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>
                                        {{ "Role" | localize }}
                                    </th>
                                    <th>
                                        {{ "Status" | localize }}
                                    </th>

                                    <th *ngIf="'Pages.Workflow.Level.MapLevel'| permission">
                                        {{ "Edit" | localize }}
                                    </th>

                                    <th *ngIf="'Pages.Workflow.Level.MapLevel'| permission">
                                        {{ "Delete" | localize }}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template
                                pTemplate="body"
                                let-record="$implicit"
                            >
                                <tr>
                                    <td>
                                        <span class="ui-column-title">
                                            {{ "Role" | localize }}</span
                                        >
                                        {{ record.roleName }}
                                    </td>
                                    <td>
                                        <span class="ui-column-title">
                                            {{ "Active" | localize }}</span
                                        >
                                        <span
                                            class="label label-success label-inline"
                                            *ngIf="record.isActive"
                                            >{{ "Active" | localize }}</span
                                        >
                                        <span
                                            class="label label-danger label-inline"
                                            *ngIf="!record.isActive"
                                            >{{ "Inactive" | localize }}</span
                                        >
                                    </td>

                                    <td *ngIf="'Pages.Workflow.Level.MapLevel'| permission">
                                        <div
                                            class="btn-group dropdown"
                                            dropdown
                                            container="body"
                                        >
                                            <button
                                                type="button"
                                                class="btn"
                                                (click)="edit(record)"
                                            >
                                                <i class="fas fa-edit"></i>
                                            </button>
                                        </div>
                                    </td>
                                    <td *ngIf="'Pages.Workflow.Level.MapLevel'| permission">
                                        <div
                                            class="btn-group dropdown"
                                            dropdown
                                            container="body"
                                        >
                                            <button
                                                type="button"
                                                class="btn"
                                                (click)="delete(record)"
                                            >
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </div>
                                    </td>

                                    <!-- <td>
                                        <div
                                            class="btn-group dropdown"
                                            dropdown
                                            container="body"
                                        >
                                            <button
                                                dropdownToggle
                                                class="dropdown-toggle btn btn-sm btn-primary"
                                            >
                                                <i class="fa fa-cog"></i
                                                ><span class="caret"></span>
                                                {{ "Actions" | localize }}
                                            </button>
                                            <ul
                                                class="dropdown-menu"
                                                *dropdownMenu
                                            >
                                                <li>
                                                    <a
                                                        href="javascript:;"
                                                        (click)="delete(record)"
                                                        >{{
                                                            "Delete" | localize
                                                        }}</a
                                                    >
                                                </li>
                                                <li>
                                                    <a
                                                        href="javascript:;"
                                                        (click)="
                                                            deactivate(record)
                                                        "
                                                        *ngIf="record.isActive"
                                                        >{{
                                                            "Deactivate"
                                                                | localize
                                                        }}</a
                                                    >
                                                    <a
                                                        href="javascript:;"
                                                        (click)="
                                                            activate(record)
                                                        "
                                                        *ngIf="!record.isActive"
                                                    >
                                                        {{
                                                            "Activate"
                                                                | localize
                                                        }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td> -->
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                    <!--<Primeng-TurboTable-End>-->
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="close()">
                    {{ "Cancel" | localize }}
                </button>

                <!-- <button type="submit" class="btn btn-primary" [disabled]="!roleuserForm.form.valid"  [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{"Save" | localize}}</span></button> -->
            </div>
        </div>
    </div>
</div>

<!--
{{roleuserForm.value | json}} -->
